<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laolao.mapper.BundleMapper">
    <select id="getByConditions" resultType="com.laolao.pojo.entity.Bundle" parameterType="Bundle">
        SELECT *
        FROM bundles
        join categories  on categories.id = bundles.category_id
        <where>
            <if test="categoryId != null and categoryId != '' and categoryId != 0">
                and category_id = #{categoryId}
            </if>
            <if test="searchContent != null and searchContent != ''">
                and bundles.name like concat('%',#{searchContent},'%')
            </if>
        </where>
    </select>

    <select id="ListFromCart" resultType="com.laolao.pojo.vo.CartProductVO" parameterType="cartProductVO">
        select bundles.id, cart_items.product_type, bundles.name, bundles.image, bundles.price, cart_items.quantity
        from bundles
        join cart_items on cart_items.product_id = bundles.id
        where cart_items.user_id = #{userId}
        and bundles.id in
        <foreach collection="productIds" item="productId" open="(" separator="," close=")">
            #{productId}
        </foreach>
    </select>
</mapper>
