<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laolao.mapper.CartMapper">
    <select id="isExists" resultType="com.laolao.pojo.entity.CartItem" parameterType="CartItem">
        select * 
        from cart_items
        <where>
            <if test="userId != null and userId != ''">
                and user_id = #{userId}
            </if>
            <if test="productType != null and productType != ''">
                and product_type = #{productType}
            </if>
            <if test="productId != null and productId != ''">
                and product_id = #{productId}
            </if>
        </where>
    </select>
</mapper>
