<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laolao.mapper.ComponentMapper">
    <select id="getByConditions" resultType="com.laolao.pojo.vo.ProductVO" parameterType="ProductVO">
        SELECT co.id, ca.type,co.name, co.image, co.common_description, MIN(va.price) as price
        FROM components co
                 JOIN component_variants va ON co.id = va.component_id JOIN categories ca ON ca.id = co.category_id
        <where>
            <if test="categoryId != null and categoryId != '' and categoryId != 0">
                and co.category_id = #{categoryId}
            </if>
            <if test="searchContent != null and searchContent != ''">
                and co.name like concat('%',#{searchContent},'%')
            </if>
        </where>
        GROUP BY co.id
    </select>
</mapper>
