<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laolao.mapper.ComponentMapper">
    <select id="getByConditions" resultType="com.laolao.pojo.vo.ComponentVO" parameterType="ComponentVO">
        SELECT p.id, p.name, p.image, p.common_description, MIN(pe.price) as price
        FROM components p
                 JOIN component_variants pe ON p.id = pe.component_id
        <where>
            <if test="categoryId != null and categoryId != '' and categoryId != 0">
                and p.category_id = #{categoryId}
            </if>
            <if test="searchContent != null and searchContent != ''">
                and p.name like concat('%',#{searchContent},'%')
            </if>
        </where>
        GROUP BY p.id
    </select>
</mapper>
