<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laolao.mapper.OrderMapper">

    <insert id="insertToDetail">
        insert into order_detail(id, name, variant_name, image, order_id, quantity, price)
        VALUES
        <foreach collection="orderDetails" item="orderDetail" separator=",">
            (
            #{orderDetail.id},
            #{orderDetail.name},
            <choose>
                <when test="orderDetail.variantName != null and orderDetail.variantName != ''">
                    #{orderDetail.variantName}
                </when>
                <otherwise>
                    NULL
                </otherwise>
            </choose>,
            #{orderDetail.image},
            #{orderDetail.orderId},
            #{orderDetail.quantity},
            #{orderDetail.price}
            )
        </foreach>
    </insert>
</mapper>
