<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laolao.mapper.shop.ShopCouponMapper">

    <select id="selectUserCoupon" resultType="com.laolao.pojo.shop.vo.UserCouponVO"
            parameterType="com.laolao.pojo.shop.vo.UserCouponVO">
        select *
        from user_coupon u
                 join shop_coupon s on u.coupon_id = s.id
        <where>
            <if test="id != 0">
                and u.id = #{id}
            </if>
            <if test="userId != 0">
                and u.user_id = #{userId}
            </if>
        </where>
    </select>
</mapper>
