<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laolao.mapper.user.user.UserMapper">
    <update id="updateUser">
        update user
        <set>
            <if test="avatar != null and avatar != ''">
                avatar = #{avatar},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="checkUserExists" resultType="com.laolao.pojo.user.entity.User" parameterType="com.laolao.pojo.user.entity.User">
        SELECT *
        FROM user
        <where>
            <if test="username != null and username != ''">
                or username = #{username}
            </if>
            <if test="email != null and email != ''">
                or email = #{email}
            </if>
        </where>
        limit 1
    </select>
    <select id="selectUser" resultType="com.laolao.pojo.user.entity.User" parameterType="com.laolao.pojo.user.entity.User">
        select *
        from user
        where id in
        <foreach collection="userIdList1" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>
